<div class="row">
    <h2 class="table-title col-md-8"><i class="glyphicon glyphicon-plus-sign"></i> Add new project</h2>
    <div class="form col-md-4 col-md-offset-2">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Name" ng-model="newProject.Name"/>
        </div>

        <div class="form-group">
            <textarea type="text" rows="2" class="form-control" placeholder="Description"
                      ng-model="newProject.Description"></textarea>
        </div>

        <div class="form-group">
            <select type="text" class="form-control" placeholder="Name"
                    ng-options="currentUser as currentUser.Username for currentUser in allUsers track by currentUser.Id"
                    ng-model="newProject.LeadId">
                <option value="" selected disabled>Select project lead</option>
                <option value="currentUser.Id">{{currentUser.Username}}</option>
            </select>
        </div>

        <div class="form-group">
            <input type="text" class="form-control" placeholder="Priorities, separated by comma"
                   ng-model="newProject.Priorities"/>
        </div>

        <div class="form-group">
            <input type="text" class="form-control" placeholder="Labels, separated by comma" ng-model="newProject.Labels"/>
        </div>

        <div class="form-group">
            <button ng-click="addProject(newProject)" class="btn btn-success">Create New Project</button>
            <button ng-click="toDashboard()" class="btn btn-default">Cancel</button>
        </div>
    </div>
</div>