<div class="row">
    <div class="col-md-8 col-md-offset-1">
        <h3>User profile details</h3>

        <p class="projectsFontSize"><span class="projectTitles">Username: </span>{{currentUser.Username}}</p>
        <p class="projectsFontSize"><span class="projectTitles">User Id: </span>{{currentUser.Id}}</p>
        <p class="projectsFontSize"><span class="projectTitles">Is Administrator: </span>{{currentUser.isAdmin}}</p>
    </div>
    <div id="form-change-password" class="col-md-3 col-md-offset-1">
            <div>
                <h4 class="modal-title">Change password</h4>
            </div>
            <div class="form-group">
                <input class="form-control" id="currentPass" type="password" placeholder="Current Password" ng-model="passwordChange.current"/>

                <input class="form-control" id="newPass" type="password" placeholder="New Password" ng-model="passwordChange.new"/>

                <input class="form-control" id="confirmNewPass" type="password" placeholder="Confirm New Password" ng-model="passwordChange.confirm"/>
            </div>
            <div>
                <a type="button" href="#/profile" class="form-control">Close</a>
                <button ng-click="changePass()" type="submit" class="form-control" data-dismiss="modal"
                        ng-disabled="passwordChange.new != passwordChange.confirm ||
                        !passwordChange.current.length || !passwordChange.new.length">
                    Save
                </button>
            </div>
    </div>
</div>


            
