<div class="row form">
    <div class="col-md-8">
        <h3 class="table-title col-md-12">Make Admin</h3>
        <div class="form-group col-md-6 col-md-offset-1">
            <label>Select user:</label>
            <select class="form-control" name="userToMakeAdmin" id="userToMakeAdmin"
                    ng-options="user as user.Username for user in allUsers track by user.Id"
                    ng-model="userId">
                <option value="" selected disabled>User list</option>
                <option value="user.Id">{{user.Username}}</option>
            </select>
        </div>

        <div class="form-group col-md-6 col-md-offset-1">
            <button ng-click="makeAdmin(userId)" class="btn btn-success">Make Admin</button>
            <button ng-click="toDashboard()" class="btn btn-default">Cancel</button>
        </div>
    </div>
</div>