<div class="row">
    <h3>Edit {{editedIssue.Title}}</h3>
    <div class="form">
        <div class="form-group col-md-4 col-md-offset-4">
            <input type="text" class="form-control" ng-model="editedIssue.Title" placeholder="Issue Title"/>
        </div>

        <div class="form-group col-md-4 col-md-offset-4">
            <input type="text" class="form-control" ng-model="editedIssue.Id" disabled=""/>
        </div>

        <div class="form-group col-md-4 col-md-offset-4">
            <input type="text" class="form-control" ng-model="editedIssue.IssueKey" disabled=""/>
        </div>

        <div class="form-group col-md-4 col-md-offset-4">
            <textarea rows="2" class="form-control" ng-model="editedIssue.Description"
                      placeholder="Issue Description"></textarea>
        </div>

        <div class="form-group col-md-4 col-md-offset-4">
            <input class="form-control" type="text" ng-model="editedIssue.Project.Name" placeholder="Project Name"/>
        </div>

        <div class="form-group col-md-4 col-md-offset-4">
            <select class="form-control" ng-model="editedIssue.Assignee"
                    ng-options="user as user.Username for user in allUsers track by user.Id">
                <option value="" selected disabled>Select assignee</option>
                <option value="user.Id">{{user.Username}}</option>
            </select>
        </div>

        <div class="form-group col-md-4 col-md-offset-4">
            <input class="form-control" type="text" ng-model="editedIssue.Priority.Name"/>
        </div>

        <div class="form-group col-md-4 col-md-offset-4">
            <input type="text" class="form-control" ng-model="editedIssue.EditLabels"/>
        </div>

        <div class="form-group col-md-4 col-md-offset-4">
            <button ng-click="edit(editedIssue)" class="btn btn-success">Edit Issue</button>
            <button class="btn btn-default" ng-click="goBack()">Cancel</button>
        </div>
    </div>
</div>